<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--   See Using Zendesk Garden:
    https://developer.zendesk.com/apps/docs/developer-guide/setup#using-zendesk-garden
    https://garden.zendesk.com/css-components/bedrock/
    https://garden.zendesk.com/css-components/utilities/typography/
   -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/@zendeskgarden/css-bedrock@7.0.21,npm/@zendeskgarden/css-utilities@4.3.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div ng-app="angularjs" ng-controller="angularjs">
    <form>
      <div class="input-group">
        <span class="input-group-addon">CPF</span>
        <input ng-model="consultaCPF" id="consultaCPF" type="text" required="required" class="form-control" name="msg" placeholder="Informe o CPF:">
      </div>
      <button type="button" class="btn btn-success btn-block" ng-click="consultar()">Consultar</button>
    </form>
    <br><h4><mark>Dados do Cliente</mark></h4>
      <table>
        <tr>
        <td>Nome</td>  
        <td>RG</td> 
        <td>CPF</td> 
        <td>E-mail</td>
      </tr>     
      <tr>
        <td>&nbsp{{dadosCliente.nome}}</td>
        <td>&nbsp{{dadosCliente.rg}}</td>
        <td>&nbsp{{dadosCliente.cpf}}</td> 
        <td>&nbsp{{dadosCliente.email}}</td> 
      </tr>
    </table> 
    <br><h4><mark>Dados do Pedido</mark></h4>  
    <table>
      <tr>
        <td>ID</td>
        <td>Número</td>
        <td>Data</td>
        <td>Status</td>
        <td>Source</td>
        <td>Valor</td>
        <td>Descrição</td>
        <td>Transportadora</td>
      </tr>
        
      <tr ng-repeat="cliente in dadosPedido">
        <td>Pedido: {{cliente.id_vtex}}</td>
        <td>&nbsp{{cliente.number}}</td>
        <td>&nbsp {{cliente.data | date:'dd-MM-yyyy'}}</td>
        
        <td ng-if="cliente.status=='PENDING'">&nbsp PENDENTE</td> 
        <td ng-if="cliente.status=='CLOSED'">&nbsp FECHADO</td> 
        <td ng-if="cliente.status=='ACTIVE'">&nbsp ATIVO</td> 
        <td ng-if="cliente.status=='CANCELLED'">&nbsp CANCELADO</td>
        <td ng-if="cliente.status=='RESOLVED'">&nbsp RESOLVIDO</td>
        <td ng-if="cliente.status=='IN_PROGRESS'">&nbsp EM PROGRESSO</td> 

        <td>&nbsp{{cliente.source}}</td>       
        <td>&nbsp{{cliente.value}}</td>       
        <td>&nbsp{{cliente.description}}</td>       
        <td>&nbsp{{cliente.trasnportadora}}</td>    
      </tr>
    </table>  
  </div>
  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script>
    // Initialise Apps framework client. See also:
    // https://developer.zendesk.com/apps/docs/developer-guide/getting_started
    var client = ZAFClient.init();
    //client.invoke('resize', { width: '100%', height: '200px' });
  </script>
  
  <!-- Chamada dos scripts para rodar o iframe.html --> 
  <script src ="app.js"></script>
  <script src="controller/main.controller.js"></script>
  <script src="service/zendesk.service.js"></script>
</body>
</html>
