<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--   See Using Zendesk Garden:
    https://developer.zendesk.com/apps/docs/developer-guide/setup#using-zendesk-garden
    https://garden.zendesk.com/css-components/bedrock/
    https://garden.zendesk.com/css-components/utilities/typography/
   -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/@zendeskgarden/css-bedrock@7.0.21,npm/@zendeskgarden/css-utilities@4.3.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div ng-app="angularjs" ng-controller="angularjs">
    <form>
      <div class="input-group">
        <span class="input-group-addon">CEP</span>
        <input ng-model="consultaCEP" id="consultaCEP" type="number" class="form-control" required="required" name="msg" placeholder="Informe o CEP:">
      </div>
      <button type="button" class="btn btn-success btn-block" ng-click="consultar()">Consultar</button>
    </form>
    <table>
      <tr ng-repeat="cliente in dadosCliente">
        <td>CEP</td>
        <td>&nbsp{{cliente.cep}}</td>
      </tr>
      <tr ng-repeat="cliente in dadosCliente">
        <td>Logradouro</td>
        <td>&nbsp{{cliente.logradouro}}</td>
      </tr>
      <tr ng-repeat="cliente in dadosCliente">
        <td>Bairro</td>
        <td>&nbsp{{cliente.bairro}}</td>
      </tr>
      <tr ng-repeat="cliente in dadosCliente">
        <td>Localidade</td>
        <td>&nbsp{{cliente.localidade}}</td>
      </tr>
      <tr ng-repeat="cliente in dadosCliente">
        <td>UF</td>
        <td>&nbsp{{cliente.uf}}</td>
      </tr>
    </table>
  </div>
  <h2 class="u-semibold u-fs-xl"></h2>
  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script>
    // Initialise Apps framework client. See also:
    // https://developer.zendesk.com/apps/docs/developer-guide/getting_started
    var client = ZAFClient.init();
    client.invoke('resize', { width: '100%', height: '200px' });
  </script>
</body>
<!-- Chamada dos scripts para rodar o iframe.html --> 
<script src ="app.js"></script>
<script src="controller/main.controller.js"></script>
<script src="service/zendesk.service.js"></script>
</html>
